   /* --- General Styles info for blog --- */
    body {
        
        margin: 0;
        padding: 0;
        line-height: 1.6;
        scroll-behavior: smooth;
    }
    
    
    /* add to style sheet jan 29*/
address,
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  border:0;
  font-size: 100%;
  font-style: inherit;
  font-weight:inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline
}

    /* add to style sheet jan 29 */

html {
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}
    
    html {
       font-feature-settings: normal;
       font-variation-settings: normal;
       font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    }
    
    body {
      line-height: inherit;
    }
    

    /* Above style add  , add parapraph style first */
    
    /* Use helvetica for font ?? */
    /*  Font selection 
     Helvetica (headings) + Roboto (body)

     Helvetica (headings) + Open Sans (body)
    */
    
    
      /* font value for paragraph */
  
  .antialised { 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  

  .text-bl-gr  {
   opacity: 1;
   padding: 10px 0px 10px 5px;
   margin: 0;
    color: #101010;
  }
  
  .some-font-weight {
   font-weight: 700;
  }
  
    .font-med {
  font-size: 16px;
  line-height: 1.6
    }
  .font-sanserif {
  font-family: Roboto, sans-serif;
  }
  
  .font-sans  { 
  font-family: sans-serif;
  }
  
  /* end text decoration */


/* Underline all links */

    a {
        text-decoration: underline;
        color: inherit;
    }
    span {
        font-family: sans-serif, Roboto;
        padding: 10px 10px;
    }
    
    /* --- Header / Navigation --- */
    header {
        background: #f7f7f7;
        color: white;
        padding: 15px 20px;
        position: fixed;
        width: 85%;
        margin: 0 20px 0 20px;
        top: 0;
        z-index: 1000;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }


    header nav a {
        margin-left: 15px;
        color: #090101;
        font-size: 1.2rem;
        font-weight: 600;
    }

   /* top nav */
    header nav a {
        text-decoration: none;
    }
    
     /* top logo header home codetropic link nav */
    nav .logo  a {
        font-size: 1.8rem;
        font-weight: 400;
    }


    /* --- Sections --- */
    section {
        padding: 70px 20px;
        max-width: 1000px;
        margin: auto;
    }

    #home {
        height: 3vh;
        padding: 5px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        flex-direction: column;
    }
    
       #about h1 {
        margin-top: 1rem;
        padding-bottom: 0;
    }
    
    

    #about, #projects, #contact {
        background: #fff;
        margin-top: 15px;
        border-radius: 10px;
        padding: 30px 20px;
    }

     /*  h1, h2, h3 */
     
    h1, h2, h3 {
        text-align: center;
    }
    
    h2 { 
     color: #101010;
     font-size: 2rem;
     line-height: 2.25rem;
      background: #f1f5ff;
   }
    
    h1, h2, h3 {
      font-family: system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
       margin-bottom: 10px;
    }

    p {
        max-width: 100%;
        margin: auto;
        text-align: left;
        padding: 0px ;
    }
    
    p {
       
      margin-bottom: 1.6em;
    }
    
    /* text decoration */
    p {
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        cursor: pointer;
       color: #101010;
       line-height: 1.7;
       font-size: 1.2rem;
       font-optical-sizing: auto;
       font-style: normal;
    }

    /* --- Projects --- */
    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .project-card {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        text-align: center;

    }

    .project-card img {
        width: 60%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    section {
        padding: 70px 20px;
        max-width: 1000px;
        margin: auto;

    }
    
 


    /* --- Footer --- */
    footer {
        text-align: center;
        padding: 15px;
        background: #333;
        color: white;
    }

   /* --- Responsive --- */
    @media(max-width: 600px) {
        #home h1 {
            font-size: 2rem;
        }
        
        header {
            height: 55px;
            padding:2px 3px;
            margin: 0;
        }

        header nav {
            flex-direction: column;
        }

     .logo span  a {
         display: flex;
         align-items: center;
          justify-content: center;
    }
    
        header nav a {
            margin: 5px 0;
        }
    }
     
      
     
   
    
      @media (max-width: 680px) {
        .top-header {
            margin-top: 45px;
        }
    }
    
        /* h2 media */
    
     @media (max-width: 775px) {
        h2 {
       font-size: 1.5rem;
      margin-bottom: 8px;
      margin-top: 10px ;
        line-height: 2.25rem;
        background: #f1f5ff;
          }
      }
    
      @media (max-width: 480px) {
        .top-header {
            margin-top: 65px;
          }
        }
   
      @media(min-width: 500px) {
       header  {
           width: 95%;
            margin: 0 5px 0 5px;
          }
       }
       
         /* font size adjust  */
       @media(max-width: 400px) {
     /* use  other measurement for media query   */
       body  {
         font-size: 1rem ; 
          }
       }
       
       
   